@model PostCreateViewModel

@using (Html.BeginForm(FormMethod.Post))
{
    //@Html.ValidationSummary()
    <div>
        @Html.LabelFor(p => p.Title)
        @Html.EditorFor(p => p.Title)
        @Html.ValidationMessageFor(p => p.Title)
    </div>
    <div>
        @Html.LabelFor(p => p.Contents)
        @Html.EditorFor(p => p.Contents)
        @Html.ValidationMessageFor(p => p.Contents)
    </div>
    
    <input type="submit" value="send" class="btn btn-default" />
}